body{
    background-color: white;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    
}

img{
width: 150px;
height: auto;
vertical-align: middle;
margin: 30px;
border: 1px solid;
}
